{% extends "layout.html.twig" %}
{% block content %}

    <div class="row" id="imageadminlist">
        {% for video in videos %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <a href="{{ path('editvideo', {'id': video.id}) }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                {{ video.url }}
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('newvideo') }}">Create new</a>

{% endblock %}
